*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 15px;
}
.intro{
    grid-column: 1/ -1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 15px;
    background-image: url(images/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.intro_text{
    color: white;
    grid-column: 3/ 7;
    align-self: center;
}
.thin_h1{
    font-size: 34px;
    font-weight: 400;
    text-align: start;
    margin-bottom: 10px;
}
.color_text{
    font-size: 40px;
    font-weight: 800;
    color: aquamarine;
    margin-bottom: 10px;
    letter-spacing: 3px;
}
.about_p{
    text-align: justify;
    font-size: 16px;
    margin-bottom: 30px;
}
.button_link{
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(90deg, aquamarine, lightgreen);
    color: gray;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
}
.intro_img{
    grid-column: 7/ -2;
    align-self: center;
    height: 80%;
}
.intro_img_smith{
    height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}










.achive{
    padding-top: 15px;
    grid-column: 1/ -1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 15px;
    background-image: url(images/wallpaperflare.com_wallpaper1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.achive_img{
    grid-column: 2/ 7;
    align-self: center;
    height: 80%;
}
.achive_img_smith{
    height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}
.achive_text{
    color: white;
    grid-column: 7/ -2;
    align-self: center;
}










.work{
    padding-top: 15px;
    grid-column: 1/ -1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 15px;
    padding-bottom: 4%;
    background-image: url(images/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.title_h1{
    color: aquamarine;
    margin-top: 5%;
    margin-bottom: 4%;
    grid-column: 1/ -1;
    justify-self: center;
    font-size: 32px;
}
.work_1{
    grid-column: 1/ span 4;
    margin-left: 18%;
}
.work_2{
    grid-column: 5/ span 4;
    margin-left: 2%;
    margin-right: 2%;
}
.work_3{
    grid-column: 9/ span 4;
    margin-right: 18%;
}
.work_1_img, .work_2_img, .work_3_img{
    box-shadow: 3px 3px 5px rgb(0,0,0, 0.5);
    max-width: 100%;
    height: 100%;
    margin: auto;
    display: block;
}
.work_1_img:hover{
    box-shadow: 3px 3px 5px rgba(250, 7, 7, 0.5);
}
.work_2_img:hover{
    box-shadow: 3px 3px 5px rgba(250, 7, 7, 0.5);
}
.work_3_img:hover{
    box-shadow: 3px 3px 5px rgba(250, 7, 7, 0.5);
}









.contact{
    grid-column: 1/ -1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 15px;
    background-image: url(images/wallpaperflare.com_wallpaper1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.client{
    grid-column: 1/-1;
    display: grid;
    justify-self: center;
    justify-items: center;
}
.client_name{
    color: white;
    margin-bottom: 3px;
    font-size: 18px;
    font-weight: 600;
}
.client_title{
    font-size: 14px;
    color: gray;
}
.client_comment{
    color: white;
    margin-top: 5%;
    margin-bottom: 15%;
    grid-column: 5/-5;
    justify-self: center;
    text-align: center;
}
.contact_button{
    grid-column: 1/-1;
    justify-self: center;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(90deg, aquamarine, lightgreen);
    color: black;
    padding: 3% 13%;
    border-radius: 10px;
    margin-bottom: 8%;
    border-style: none;
}
.email_ut{
    font-size: 14px;
    margin-bottom: 7%;
}
.email{
    text-decoration: none;
    font-size: 20px;
    color: black;
}











@media (max-width:1023px){
    .container{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }
    .intro, .achive{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }
    .intro_text, .achive_img{
        grid-column: 2 / 6;
    }
    .intro_img, .achive_text{
        grid-column: 6 / -2;
    }
    .thin_h1{
        font-size: 30px;
        margin-bottom: 8px;
    }
    .color_text{
        font-size: 36px;
        margin-bottom: 8px;
    }
    .about_p{
        margin-bottom: 24px;
    }
    .button_link{
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 18px;
        padding-right: 18px;
        border-radius: 4px;
    }
}










@media (max-width:767px){
    .container{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }


    .intro{
        padding-top: 30px;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }
    .intro_text{
        grid-column: 2/ 5;
    }
    .intro_img{
        grid-column: 5/ -2;
        height: 93%;
    }


    .achive{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }
    .achive_img{
        grid-column: 2/ 5;
        height: 93%;
    }
    .achive_text{
        grid-column: 5/ -2;
    }

    .title_h1{
        margin-top: 5%;
        margin-bottom: 4%;
        font-size: 26px;
    }
        .button_link{
        font-size: 14px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 14px;
        padding-right: 14px;
    }
    .thin_h1{
        font-size: 28px;
        margin-bottom: 6px;
    }
    .color_text{
        margin-bottom: 6px;
        font-size: 32px;
        font-weight: 750;
    }
    .about_p{
        font-size: 14px;
        margin-bottom: 20px;
    }


    .client_comment{
        grid-column: 4/-4;
    }
}










@media (max-width:560px){
    .container{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }


    .intro{
        padding-top: 25px;
        padding-left: 25px;
        padding-right: 25px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    .intro_text{
        grid-column: 1/ 4;
    }
    .intro_img{
        grid-column: 4/ -1;
        height: 95%;
    }


    .achive{
        padding-left: 25px;
        padding-right: 25px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    .achive_img{
        grid-column: 1/ 4;
        height: 95%;
    }
    .achive_text{
        grid-column: 4/ -1;
    }


    .button_link{
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .thin_h1{
        font-size: 26px;
        margin-bottom: 4px;
    }
    .color_text{
        margin-bottom: 4px;
        font-size: 28px;
        font-weight: 750;
    }
    .about_p{
        font-size: 14px;
        margin-bottom: 14px;
    }
}










@media (max-width:440px){
    .container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }


    .intro{
        padding-top: 20px;
        padding-left: 16px;
        padding-right: 16px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .intro div:nth-child(2){
        grid-area:1;
    }
    .intro div:nth-child(2){
        grid-column: 1/ -1;
    }
    .intro_text{
        grid-column: 1/ -1;
    }
    .intro_img{
        height: 100%;
    }


    .achive{
        padding-left: 16px;
        padding-right: 16px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .achive_img{
        grid-column: 1/ -1;
        height: 100%;
    }
    .achive_text{
        grid-column: 1/ -1;
    }
    .title_h1{
        font-size: 22px;
        font-weight: 600;
    }
    .work_1{
        grid-column: 2/ -2;
        margin: auto;
    }
    .work_2{
        grid-column: 2/ -2;
        margin: auto;
    }
    .work_3{
        grid-column: 2/ -2;
        margin: auto;
    }

    .button_link{
        padding-left: 9px;
        padding-right: 9px;
    }
    .thin_h1{
        font-size: 24px;
        margin-bottom: 3px;
    }
    .color_text{
        margin-bottom: 3px;
        font-size: 26px;
        font-weight: 750;
    }
    .about_p{
        margin-bottom: 12px;
    }
    .client_comment{
        grid-column: 3/-3;
    }
}